@keyframes scroll {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(-50%)
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'EagleIII';
  user-select: none;
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bbddff;
  overflow: hidden;
}

body::before,
body::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body::before {
  width: 200vw;
  left: 100%;
  background-image: url('./assets/clouds.jpg');
  background-size: auto 33%;
  animation: 120s infinite linear scroll;
}

body::after {
  z-index: 10;
  background-image: url('./assets/scanlines.jpg');
  background-size: 8px;
  mix-blend-mode: multiply;
}

h1 {
  z-index: 2;
  font-size: 32px;
  line-height: 2;
  color: #ffffff;
  text-align: center;
  font-family: "pf-pixelscript", sans-serif;
  text-shadow: 
    1px 1px black, 
    -1px 1px black,
    1px -1px black, 
    -1px -1px black,
    3px 3px black;

  @media (min-width: 640px) {
    font-size: 56px;
    line-height: 1.5;
  }
}

.game-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 640px) {
    gap: 24px;
  }
}

#board {
  padding: 16px;
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  background-image: url('./assets/wood.jpg');
  box-shadow: 0 0 0 1px #00000066 inset, 24px 0 64px 24px white;
  opacity: .9;
  @media (min-width: 640px) {
    padding: 24px;
    gap: 16px;
  }
}

.column {
  position: relative;
  display: flex;
  gap: inherit;
  flex-direction: column-reverse;
}

.cell {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 8px #00000044 inset, 0 0 0 1px #00000055 inset;
  background-color: #00000033;
  cursor: pointer;

  @media (min-width: 640px) {
    width: 60px;
    height: 60px;
  }
}

.piece {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-size: 100%;
  mix-blend-mode: multiply;
  opacity: 1;
}

.cell:not(.empty) .piece {
  background-image: url('./assets/piece.jpg');
}

.cell:nth-child(1 of div.empty):hover{
  background-color: #00000055;
}

/* Controls styling */
#controls {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 100%;
}

#controls.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-window {
  width: 300px;
  background-color: #eee;
  box-shadow: 0 0 0 1px black inset, 24px 0 64px 24px #00000066;
}

.controls-window button{
  width: 24px;
  height: 24px;
  border-radius: 0;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 0 .5px black;
}

.controls-window button:hover{
  color: white;
  background-color: black;
  box-shadow: 2px 2px 0 1px black;
}

.top-bar {
  position: relative;
  height: 24px;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ccc;
  border: 1px solid black;
}

.top-bar p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.top-bar button {
  position: absolute;
  right: 8px;
  font-weight: 700;
}

.controls-item {
  display: flex;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  justify-content: space-between;
  border: 1px solid transparent;
}


.controls-item .buttons {
  display: flex;
  gap: 4px;
}
.controls-item .buttons p {
  width: 24px;
  text-align: center;
}

.controls-item b {
  color: #bbb;
}


.controls-item:hover {
  border: 1px dashed black;
  background-color: white;
}

.controls-item:hover b {
  color: black;
}


#game-info {
  display: flex;
  width: 100%;
  background: blue;
  background-size: 50%;
  filter: saturate(.5);
  box-shadow: 0 0 0 1px #00000066 inset, 0 0 100px 100px #ffffff22 inset;
}

#current-player {
  margin: 8px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: 400;
  text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
  @media (min-width: 640px) {
    font-weight: 700;
  }
}

#game-info button {
  cursor: pointer;
  font-size: 16px;
  padding: 0 16px;
  line-height: 2;
  background-color: white;
  color: black;
  border: 1px solid black;
  opacity: .8;
  box-shadow: 1px 1px 0 .5px black;
  @media (min-width: 640px) {
    margin: 16px;
  }
}

#game-info button:hover {
  opacity: 1;
  box-shadow: 2px 2px 0 1px black;
}


/* 3D effect styling */
@media (min-width: 640px) {
  .three-d {
    position: relative;
  }
  .three-d::before,
  .three-d::after,
  .cell:last-of-type::before,
  .column:last-of-type .cell::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    background: inherit;
    filter: brightness(80%);
  }
}

.three-d::before,
.three-d::after {
  z-index: 0;
  background-size: auto;
  background-image: inherit;

}

.cell:last-of-type::before,
.column:last-of-type .cell::after {
  box-shadow: 0 0 8px #00000044 inset, 0 0 0 1px #00000022 inset;
}

.three-d::before {
  top: -14.5px;
  left: 0;
  height: 14.5px;
  width: 100%;
  transform: skewX(-60deg);
  transform-origin: 100% 100%;
  filter: brightness(75%);
}

.three-d::after {
  top: 0;
  right: -25px;
  width: 25px;
  height: 100%;
  transform: skewY(-30deg);
  transform-origin: 0% 100%;
}

.column:last-of-type .cell::after{
  border-radius: 100%;
  z-index: 20;
  width: 14px;
  height: 100%;
  right: -44px;
  transform: skewY(-30deg);
  transform-origin: top left;
}

.cell:last-of-type::before{
  width: 100%;
  height: 8px;
  top: -36px;
  transform: skewX(-60deg);
  transform-origin: bottom left;
  border-radius: 100%;
}